.header
{
    background-color: var(--primaryColor);
    box-shadow: 3px 3px 5px #0004;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    cursor: default;
}

.header .logo
{
    background-color: var(--background);
    color: var(--textColor);
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2vh;
}

.header .logo img 
{
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
}

.header .title-group
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondColor);
    cursor: pointer;
}

.theme
{
    margin-top: 2vh;
    color: var(--secondColor);
    cursor: pointer;
}