<div class="card shadow">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <h4 class="text-dark text-muted">Criar escala</h4>
            </div>

            <mat-form-field>
                <mat-label>Nome do evento</mat-label>
                <input matInput #input name="event_name" [(ngModel)]="event_name">
            </mat-form-field> 

            <mat-form-field>
                <mat-label>Data do evento</mat-label>
                <input matInput [matDatepicker]="picker" name="start_date" [(ngModel)]="start_date" [min]="minDate" [max]="maxDate">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>ESCALA</mat-label>
                <textarea matInput name="escala" [(ngModel)]="escala"></textarea>
            </mat-form-field> 
            
            <mat-form-field>
                <mat-label>Horário do campo</mat-label>
                <input matInput type="time" name="hour" [(ngModel)]="hour">
            </mat-form-field> 

            <mat-form-field>
                <mat-label>Categorias</mat-label>
                <mat-select  name="categorias" [(ngModel)]="categorias">
                  <mat-option value="">Escolha uma</mat-option>
                  <mat-option value="sermao">Sermão</mat-option>
                  <mat-option value="louvor_especial">Louvor especial</mat-option>
                  <mat-option value="louvor">Louvor</mat-option>
                  <mat-option value="oracao">Oração</mat-option>
                  <mat-option value="ofertorio">Ofertório</mat-option>
                  <mat-option value="ado_infantil">Ado. Infantil</mat-option>
                  <mat-option value="provai_vede">Provai e Vede</mat-option>
                  <mat-option value="informativo">Informativo</mat-option>
                  <mat-option value="outro">Outro</mat-option>
                  <mat-option value="pausa">Pausa</mat-option>
                  <mat-option value="entrada">Entrada</mat-option>
                  <mat-option value="saida">Saída</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Pessoa</mat-label>
                <input matInput #input name="pessoa" [(ngModel)]="pessoa">
            </mat-form-field> 

            <button type="button" class="btn" (click)="criar()">Add Campo</button>
            <br>
            <button type="button" class="btn" (click)="criar()">Criar</button>
        </form>
    </div>
</div>