<div class="card shadow">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <h4 class="text-dark text-muted">Criar evento</h4>
            </div>

            <mat-form-field>
                <mat-label>Nome do evento</mat-label>
                <input [readonly]="!edit" matInput #input name="event_name" [(ngModel)]="event_name">
            </mat-form-field> 

            <mat-form-field>
                <mat-label>Breve descrição</mat-label>
                <textarea [readonly]="!edit" matInput name="event_desc" [(ngModel)]="event_desc"></textarea>
            </mat-form-field> 

            <mat-form-field>
                <mat-label>Apenas um dia?</mat-label>
                <mat-select [disabled]="!edit" name="isOneDay" [(ngModel)]="isOneDay">
                  <mat-option value="true">Sim</mat-option>
                  <mat-option value="">Não</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="isOneDay">
                <mat-label>Data do evento</mat-label>
                <input [readonly]="!edit" matInput [matDatepicker]="picker" name="start_date" [(ngModel)]="start_date" [min]="minDate" [max]="maxDate">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field *ngIf="!isOneDay">
                <mat-label>Data do evento</mat-label>
                <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
                    <input [readonly]="!edit" matStartDate placeholder="Start date" name="start_date" [(ngModel)]="start_date" [min]="minDate" [max]="maxDate">
                    <input [readonly]="!edit" matEndDate placeholder="End date" name="end_date" [(ngModel)]="end_date" [min]="minDate" [max]="maxDate">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker touchUi #picker></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Horário incial</mat-label>
                <input [readonly]="!edit" matInput type="time" name="start_time" [(ngModel)]="start_time">
            </mat-form-field> 

            <mat-form-field>
                <mat-label>Horário final</mat-label>
                <input [readonly]="!edit" matInput type="time" name="end_time" [(ngModel)]="end_time">
            </mat-form-field> 

            <mat-radio-group [disabled]="!edit" aria-label="O evento será" name="event_type" [(ngModel)]="event_type">
                <mat-radio-button color="primary" value="public">Público (Com a igreja)</mat-radio-button>
                <mat-radio-button color="primary" value="private">Privado (Só para o departamento)</mat-radio-button>
            </mat-radio-group>

            <button *ngIf="typeForm.type!='Visualizar'" type="button" class="btn" (click)="action()">{{ typeForm.type }}</button>
            <button *ngIf="typeForm.type=='Visualizar'" type="button" class="btn" (click)="action()">Voltar</button>
            <br>
            <button *ngIf="typeForm.type=='Atualizar'" mat-button type="button" class="delete" (click)="delete()">Delete</button>
        </form>
    </div>
</div>